<h4 class="text-center">Tutorial content</h4>
<h5><a class="hlink" (click)="toggle($event)" id="basic" [routerLink]="">Basic rules and how to capture stones</a></h5>
<ul class="text-left" id="basicList">
  <li>
    <a [routerLink]="" (click)='change("introduction", "")'>Introduction</a>
  <li>
    <a [routerLink]="" (click)='change("example", "capture-stones")'>How to capture stones</a>
  <li>
    <a [routerLink]="" (click)='change("capture", "50kyu")' >50 Kyu Problems</a>
    - Capture Atari Stones!
  <li>
    <a [routerLink]="" (click)='change("capture", "49kyu")'>49 Kyu Problems</a>
    - A bit more difficult
  <li>
    <a [routerLink]="" (click)='change("capture", "48kyu")'>48 Kyu Problems</a>
    - Capture anyway!
  <li>
    <a [routerLink]="" (click)='change("dest-all-whites", "DAW")'>Destroy all whites</a>
    - Just take a break
  <li>
    <a [routerLink]="" (click)='change("capture", "47kyu")'>47 Kyu Problems</a>
    - Double Ataris
  <li>
    <a [routerLink]="" (click)='change("example", "illegal-moves")'>Illegal moves</a>
    - One more rule to remember
  <li>
    <a [routerLink]="" (click)='change("capture", "46kyu")'>46 Kyu Problems</a> - Think Twice
  </li>
</ul>
<h5><a class="hlink" (click)="toggle($event)" id="progressed" [routerLink]="">How a game is progressed</a></h5>
<ul id="progressedList">
  <li>
    <a [routerLink]="" (click)='change("example", "beginning")'>The beginning</a>
    - How a game is started
  <li>
    <a [routerLink]="" (click)='change("capture", "36kyu")'>36 Kyu problems</a>
    - The middle game
  <li>
    <a [routerLink]="" (click)='change("example", "end-game")'>End game</a>
    - How to count territory?
  <li>
    <a [routerLink]="" (click)='change("example", "end-game2")'>End game(2)</a>
  <li>
    <a [routerLink]="" (click)='change("capture", "cs")'>Cutting stones</a>
    - Tear them apart!
  <li>
    <a [routerLink]="" (click)='change("defending", "def")'>Defending</a>
    - Prevent the cut
  <li>
    <a [routerLink]="" (click)='change("example", "one-point-jump")'>One Point Jump</a>
    - very good move
  <li>
    <a [routerLink]="" (click)='change("example", "more-about-jumps")'>More about jumps</a>
  <li>
    <a [routerLink]="" (click)='change("capture", "35kyu")'>35 Kyu Problems</a>
    - The game is almost over
  <li>
    <a [routerLink]="" (click)='change("capture", "34kyu")'>34 Kyu Problems</a>
  <li>
    <a [routerLink]="" (click)='change("replay", "")'>Game Examples</a>
  <li>
    <a [routerLink]="" (click)='change("")'>Komi</a> - A little bonus for white
  </li>
  <li>
    <a [routerLink]="" (click)='change("handicap", "handicap")'>The Handicap game</a> - One player better then other
  </li>
</ul>
<h5><a class="hlink" (click)="toggle($event)" id="real" [routerLink]="">Preparing for the real game</a></h5>
<ul id="realList">
  <li>
    <a [routerLink]="" (click)='comboChange("combo", "SITF", "slap-in-the-face")'>A slap in the face</a>
  <li>
    <a [routerLink]="" (click)='comboChange("combo", "EYS", "extending-your-stone")'>Extending your stone</a>
  <li>
    <a [routerLink]="" (click)='change("example", "kakari-shimari")'>Kakari and Shimari</a> - corners are profitable
  <li>
    <a [routerLink]="" (click)='change("")'>Epilog</a> - Where to go next?</li>
</ul>
