#listComponent {
  margin: 1em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#text {
  margin: 1em;
}

#image {
  width: 15em;
}

#nextBtn {
  margin: 2em;
}

#board {
  padding-bottom: 1em;
  margin: auto;
}

h4 {
  margin-top:1em;
}

#control {
  margin: auto;
  margin-bottom: 1em;
}

#level {
  font-size: 2em;
}
