<h3 class="text-center">Introduction</h3>
<p>This is easy, interactive GO tutorial. When you finish this tutorial you will have basic knowledge for playing
  Go game. Enjoy !</p>

<h5 class="text-left"> Before you begin, please remember just 3 rules below. </h5>
<ul >
  <li> Two players (black and white) take turns, placing one stone on the board at a time.
    <p></p>
  </li>
  <li> A stone must be placed on the intersection of the vertical and horizontal lines.
    <p></p>
  </li>
  <li> Once a stone is placed, you can't move it, although under some conditions it may be removed.
    <p></p>
  </li>
</ul>
<br><h5 class="text-left"> About the ranking system of Go </h5>
<p></p>
<p>In the amateur Go world, 30 kyu is usually the lowest rank. The smaller the kyu, the stronger the player.
  Above 1 kyu comes 1 dan. As the dan number increases, it gets stronger.
  Dan players are considered to play very well.</p><br>

<div class="col-sm-12 text-center">
  <button (click)="next()" id="nextBtn" class="btn btn-success">Continue to next lesson</button>
</div>



