<h3 class="text-center">Introduction</h3><br>

<p>This is easy, interactive GO tutorial. When you finish this tutorial you will have basic knowledge for playing
  Go game. Enjoy !<br></p>
<h5 class="text-left"> The goal of Go game</h5><br>

<p>
  The objective of Go is to make your "territory" larger than that of your opponent. <br>
  At first, you may be confused about where to place your stones because you can play almost anywhere on the board.<br><br>
  One way to make territory is to "capture" opponent's stones.<br><br>

  Stones that are surrounded are removed from the board and are handed to the opponent as prisoners.
  Each prisoner will be worth one point.
</p><br>

<h5 class="text-left"> Before you begin, please remember just 3 rules below. </h5><br>
<ul >
  <li> Two players (black and white) take turns, placing one stone on the board at a time.
    <p></p>
  </li>
  <li> A stone must be placed on the intersection of the vertical and horizontal lines.
    <p></p>
  </li>
  <li> Once a stone is placed, you can't move it, although under some conditions it may be removed.
    <p></p>
  </li>
</ul>


