<h4 class="text-center">{{title}}</h4>
<p id="instructions">{{text}}</p>
<p>{{description}}</p>
<div class="row">
  <div id="control">
    <button (click)="resetBoard()" id="resetBtn" class="btn btn-primary">Reset Board</button>
  </div>
</div>

<div class="row">
  <div id="board"></div>
</div>

<div *ngIf="visible"
     class="text-center alert"
     [ngClass]="{
        'alert-success' : isSuccessVisible,
        'alert-danger' : !isSuccessVisible
     }"
>
  <strong>{{ message }}</strong>
</div>

<div class="row">
  <div class="col-sm-6 text-right">
    <button (click)="previousLevel()" id="backBtn" class="btn">BACK</button>
  </div>
  <div class="col-sm-6">
    <button (click)="nextLevel()" id="nextBtn" class="btn btn-success">NEXT</button>
  </div>
</div>
<div class="row text-center">
  <span class="col-sm-12 badge" id="level">{{currentStep + 1}} </span>
</div>
