.home-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  -moz-box-shadow:    -3px 0 7px 0 #000;
  -webkit-box-shadow: -3px 0 7px 0 #000;
  box-shadow:         -3px 0 7px 0 #000;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header{
  padding: 10px;
  font-size: 28px;
  text-align: center;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}

.sidebar-search {

}

.sidebar-body {
  padding: 25px;
}

.friend-status {
  font-size: 8px;
  padding-right: 7px;
}

.friend {
  cursor: pointer;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  img {
    margin-right: 15px;
    border: 1px solid rgba(10,10,10,0.1);
    border-radius: 20px;
    width: 40px;
  }
  .friend-status-active {
    color: green;
    @extend .friend-status;
  }
  .friend-status-inactive {
    @extend .friend-status;
  }
  .friend-name {
    font-size: 18px;
  }
}

.friend:hover{
  .friend-name{
    font-size: 20px;
    color: black;
  }
}

.games-container {
  margin-left: 350px;
}
